{
  "version": "0.1.22",
  "description": "Persistent Codex, Claude, and Grok sessions with built-in account views",
  "homepage": "https://github.com/Humelo/agemux",
  "license": "MIT",
  "url": "https://github.com/Humelo/agemux/releases/download/v0.1.22/agemux_0.1.22_windows_amd64.zip",
  "hash": "2cf04911f0839471f089ec038e29f7bd6805b41e8c89c996d07a964c209ff649",
  "bin": [
    [
      "agemux.exe",
      "agemux"
    ]
  ],
  "checkver": "github",
  "autoupdate": {
    "url": "https://github.com/Humelo/agemux/releases/download/v$version/agemux_$version_windows_amd64.zip"
  }
}
