{
  "version": "0.1.25",
  "description": "Persistent Codex, Claude, and Grok sessions with built-in account views",
  "homepage": "https://github.com/Humelo/agemux",
  "license": "MIT",
  "url": "https://github.com/Humelo/agemux/releases/download/v0.1.25/agemux_0.1.25_windows_amd64.zip",
  "hash": "28d8fcedd550b9f91e5c182c6410682845fa6788818335279d61b0e0c71e1f02",
  "bin": [
    [
      "agemux.exe",
      "agemux"
    ]
  ],
  "checkver": "github",
  "autoupdate": {
    "url": "https://github.com/Humelo/agemux/releases/download/v$version/agemux_$version_windows_amd64.zip"
  }
}
